/*BASE-Base Variables with mixins and palceholders*/
*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: inherit; }

html {
  scroll-behavior: smooth;
  box-sizing: border-box;
  font-size: 62.5%; }

:root {
  --color-primary-dark-pink: #ba4270;
  --color-primary-link-water-white: #fbfcfe;
  --color-secondary-san-juan-blue: #36536b;
  --color-secondary-mirage-blue: #1b262f;
  --color-secondary-charm-Pink: #da6d97;
  --color-secondary-light-san-juan-blue: #6c8294;
  --color-white: #ffffff;
  --color-body-background: #edf3f8; }

body {
  margin: 0 auto;
  font-family: " Public Sans", sans-serif;
  background-color: var(--color-body-background);
  font-size: 1.5rem;
  line-height: 2.8rem;
  max-width: 144rem;
  min-height: calc(100vh - 2 * 4vw); }

h1,
h2,
h3,
h4 {
  font-family: "DM Sans", sans-serif;
  color: var(--color-secondary-san-juan-blue);
  font-weight: 500; }

.color-water-white {
  color: var(--color-primary-link-water-white); }

.heading-primary-large {
  font-size: 7.2rem;
  line-height: 7.2rem; }
  @media only screen and (max-width: 48.75em) {
    .heading-primary-large {
      font-size: 4.8rem;
      line-height: 5.6rem; } }
  @media only screen and (max-width: 37.5em) {
    .heading-primary-large {
      font-size: 3.2rem;
      line-height: 4rem; } }

.heading-primary-small {
  font-size: 5.6rem;
  line-height: 5.6rem; }
  @media only screen and (max-width: 48.75em) {
    .heading-primary-small {
      font-size: 4.8rem;
      line-height: 5.6rem; } }
  @media only screen and (max-width: 37.5em) {
    .heading-primary-small {
      font-size: 3.2rem;
      line-height: 4rem; } }

.heading-secondary {
  font-size: 4.8rem;
  line-height: 5.6rem; }
  @media only screen and (max-width: 37.5em) {
    .heading-secondary {
      font-size: 3.2rem;
      line-height: 4rem; } }

.heading-secondary-extend {
  color: var(--color-secondary-san-juan-blue) !important; }

.heading-tertiary-big {
  font-size: 3.2rem;
  line-height: 4rem; }

.heading-tertiary-small {
  font-size: 1.8rem;
  line-height: 2.5rem;
  font-weight: 600; }

.heading-quaternary {
  font-size: 2.4rem;
  line-height: 3.2rem; }

p {
  font-size: 1.5rem;
  line-height: 2.8rem; }

.width-80 {
  width: 80%; }
  @media only screen and (max-width: 69em) {
    .width-80 {
      width: 0%; } }

.sticky {
  position: fixed !important;
  background-color: white !important;
  z-index: 999; }

.section {
  transition: all 0.5s ease-in-out; }

.section--hidden {
  opacity: 0;
  transform: translateY(8rem); }

.lazy-img {
  filter: blur(20px); }

.hidden {
  opacity: 0;
  display: none !important;
  width: 0;
  height: 0; }

/*FRAMEWORK-Structure and layout files*/
/*Component-header and another files*/
.contact {
  display: flex;
  flex-direction: column;
  margin-top: -10rem;
  padding: 0 12rem;
  /* here is code of animated border */ }
  @media only screen and (max-width: 65.25em) {
    .contact {
      align-items: center;
      justify-content: center;
      text-align: center;
      padding: 0 5rem; } }
  @media only screen and (max-width: 37.5em) {
    .contact {
      padding: 0 2rem;
      margin-top: -12rem; } }
  @media only screen and (max-width: 24.44em) {
    .contact {
      padding: 0 1.8rem; } }
  .contact__heading-box {
    display: flex;
    margin-bottom: 5rem; }
    @media only screen and (max-width: 37.5em) {
      .contact__heading-box {
        margin-bottom: 2rem; } }
  .contact__details-box {
    display: flex;
    gap: 12rem; }
    @media only screen and (max-width: 65.25em) {
      .contact__details-box {
        flex-direction: column;
        text-align: center;
        justify-content: center;
        gap: 15rem; } }
  .contact__cta-box {
    display: flex; }
    @media only screen and (max-width: 65.25em) {
      .contact__cta-box {
        width: 100%;
        text-align: center;
        justify-content: center; } }
  .contact__clint-box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5rem;
    width: 100%;
    margin-top: -10rem; }
    @media only screen and (max-width: 65.25em) {
      .contact__clint-box {
        margin-bottom: 5rem; } }
    @media only screen and (max-width: 37.5em) {
      .contact__clint-box {
        margin-bottom: 2rem; } }
  .contact__clint-logo-box {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem; }
    @media only screen and (max-width: 65.25em) {
      .contact__clint-logo-box {
        align-items: center;
        justify-content: center; } }
    @media only screen and (max-width: 37.5em) {
      .contact__clint-logo-box {
        gap: 1rem; } }
  .contact__clint-logo {
    display: flex;
    align-items: baseline;
    margin-bottom: 2rem;
    width: 14.8rem;
    height: auto;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    overflow: hidden; }
    @media only screen and (max-width: 37.5em) {
      .contact__clint-logo {
        margin-bottom: 1.6rem; } }
  .contact__clint-logo:hover {
    transform: scale(1.05); }
  .contact .field {
    position: relative; }
  .contact fieldset {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 2rem; }
  .contact input[type="text"],
  .contact input[type="email"] {
    outline: none;
    font-size: 1.6rem;
    font-weight: 600;
    color: var(--color-secondary-san-juan-blue);
    font-family: inherit;
    border-radius: 1px;
    cursor: text;
    max-width: 100%;
    width: 45rem;
    height: 4.2rem;
    padding: 0 1.6rem 1.8rem 1.6rem;
    overflow: hidden;
    border: none;
    border-bottom: 1px solid var(--color-secondary-san-juan-blue);
    background-color: transparent;
    transition: all 0.2s ease-in; }
    @media only screen and (max-width: 37.5em) {
      .contact input[type="text"],
      .contact input[type="email"] {
        width: 100%; } }
  .contact .message {
    font-size: 1.6rem;
    font-weight: 600;
    color: var(--color-secondary-san-juan-blue);
    font-family: inherit;
    border-radius: 1px;
    cursor: text;
    max-width: 100%;
    width: 45rem;
    padding: 1rem 1.9rem 0 1rem;
    box-sizing: border-box;
    overflow: hidden;
    border: none;
    border-bottom: 1px solid var(--color-secondary-san-juan-blue);
    background-color: transparent;
    transition: all 0.2s ease-in; }
    @media only screen and (max-width: 37.5em) {
      .contact .message {
        width: 100%; } }
  .contact input::placeholder {
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--color-secondary-san-juan-blue);
    opacity: 0.5;
    letter-spacing: 2px;
    transition: all 0.5s ease-in, transform 0.2s ease-in 0.6s; }
  .contact .message::placeholder {
    font-size: 1.5rem;
    font-weight: 500;
    color: var(--color-secondary-san-juan-blue);
    opacity: 0.5;
    letter-spacing: 2px; }
  .contact input:focus::placeholder {
    padding-left: 16.5rem;
    transform: rotate(90deg);
    transform: translateY(-5rem); }
  .contact input:hover {
    background: #f5f5f5; }
  .contact .message:hover {
    background: #f5f5f5; }
  .contact .input-border {
    position: absolute;
    background: var(--color-primary-dark-pink);
    width: 0%;
    height: 2px;
    bottom: 0;
    left: 0;
    transition: all 0.5s ease-in; }
  .contact input:focus {
    outline: none; }
  .contact .message {
    outline: none; }
  .contact input:not(:invalid):focus ~ .input-border {
    width: 100%; }
  .contact .message:not(:invalid):focus {
    outline: none;
    border: none; }
  .contact .message:not(:invalid):focus ~ .input-border {
    width: 100%; }
  .contact input:not(:placeholder-shown):not(:focus):required:invalid {
    border: none;
    border-bottom: 2px solid #ff0000; }
  .contact .message:not(:placeholder-shown):not(:focus):required:invalid {
    border: none;
    border-bottom: 2px solid #ff0000; }
  .contact input:required:invalid::placeholder {
    color: #ff0000;
    font-size: 1.6rem;
    font-weight: 600;
    opacity: 1; }
  .contact .message:required:invalid::placeholder {
    color: #ff0000;
    font-size: 1.6rem;
    font-weight: 600;
    opacity: 1; }
  .contact input:required:invalid {
    border: none;
    border-bottom: 2px solid #ff0000;
    border-right: 2px solid #ff0000; }
  .contact .message:required:invalid {
    border: none;
    border-bottom: 2px solid #ff0000;
    border-right: 2px solid #ff0000; }
  .contact input:not(:placeholder-shown):not(:focus):invalid::placeholder {
    color: #ff0000;
    font-size: 1.6rem;
    font-weight: 600;
    opacity: 1; }
  .contact .message:not(:placeholder-shown):not(:focus):invalid::placeholder {
    color: #ff0000;
    font-size: 1.6rem;
    font-weight: 600;
    opacity: 1; }
  .contact input:not(:placeholder-shown):not(:focus):valid {
    background: transparent !important;
    border: none;
    border-bottom: 2px solid green;
    border-right: 2px solid green; }
  .contact .message:not(:placeholder-shown):not(:focus):valid {
    background: transparent !important;
    border: none;
    border-bottom: 2px solid green;
    border-right: 2px solid green; }

.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0; }

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.8rem;
  position: relative;
  cursor: pointer;
  font-size: 3rem;
  user-select: none;
  text-align: left;
  width: 100%;
  height: 5.8rem; }

.checkmark {
  position: relative;
  top: 0;
  left: 0;
  height: 3rem;
  width: 3.4rem;
  background: #979797;
  border-radius: 3px;
  transition: all 0.2s ease; }
  @media only screen and (max-width: 65.25em) {
    .checkmark {
      height: 3rem;
      width: 3rem; } }
  @media only screen and (max-width: 24.44em) {
    .checkmark {
      height: 3rem;
      width: 5rem; } }

.checkmark {
  opacity: 0.5; }

.container input:checked ~ .checkmark {
  background: var(--color-primary-dark-pink);
  opacity: 0.9;
  transition: all 0.2s ease; }

.checkmark:after {
  content: "";
  position: absolute;
  display: none; }

.container input:checked ~ .checkmark:after {
  display: block; }

.container .checkmark:after {
  left: 12px;
  top: 5px;
  width: 7px;
  height: 14px;
  border: solid white;
  border-width: 0 2.4px 2.4px 0;
  transform: rotate(45deg); }

.check-box-text {
  font-size: 1.5rem;
  color: var(--color-secondary-light-san-juan-blue);
  line-height: 1.8rem; }

.empty-row:empty::after {
  content: ".";
  visibility: hidden; }

.about {
  display: flex;
  flex-direction: column;
  margin-top: -10rem; }
  @media only screen and (max-width: 65.25em) {
    .about__heading-text-details {
      margin-top: -2rem; } }
  @media only screen and (max-width: 37.5em) {
    .about {
      margin-top: -12rem; } }
  .about__header {
    display: flex;
    padding: 0 12rem;
    margin-bottom: 5rem; }
    @media only screen and (max-width: 69em) {
      .about__header {
        padding: 0 5rem; } }
    @media only screen and (max-width: 65.25em) {
      .about__header {
        margin-bottom: 5rem;
        align-items: center;
        justify-content: center;
        text-align: center; } }
    @media only screen and (max-width: 37.5em) {
      .about__header {
        margin-bottom: 2.8rem;
        padding: 0 2rem; } }
    @media only screen and (max-width: 24.44em) {
      .about__header {
        padding: 0 1.8rem; } }
  .about__vision-business {
    display: flex;
    flex-direction: column;
    padding: 0 30rem 0 12rem;
    gap: 5rem;
    margin-bottom: -5rem; }
    @media only screen and (max-width: 69em) {
      .about__vision-business {
        padding: 0 5rem; } }
    @media only screen and (max-width: 65.25em) {
      .about__vision-business {
        padding: 0 5rem; } }
    @media only screen and (max-width: 48.75em) {
      .about__vision-business {
        margin-bottom: 0rem;
        gap: 2.8rem; } }
    @media only screen and (max-width: 37.5em) {
      .about__vision-business {
        padding: 0 2rem; } }
    @media only screen and (max-width: 24.44em) {
      .about__vision-business {
        padding: 0 1.8rem; } }
  .about__vision {
    display: flex;
    padding: 0; }
    @media only screen and (max-width: 48.75em) {
      .about__vision {
        flex-direction: column;
        text-align: center;
        gap: 2rem; } }
    @media only screen and (max-width: 37.5em) {
      .about__vision {
        padding: 0 2rem; } }
    @media only screen and (max-width: 24.44em) {
      .about__vision {
        padding: 0 1.8rem; } }
  .about__business {
    display: flex;
    padding: 0; }
    @media only screen and (max-width: 48.75em) {
      .about__business {
        flex-direction: column;
        text-align: center;
        gap: 2rem; } }
    @media only screen and (max-width: 37.5em) {
      .about__business {
        padding: 0 2rem; } }
    @media only screen and (max-width: 24.44em) {
      .about__business {
        padding: 0 1.8rem; } }
  .about__vision-header {
    width: 85rem; }
    @media only screen and (max-width: 48.75em) {
      .about__vision-header {
        width: 100%; } }
  .about__vision-text {
    color: var(--color-secondary-light-san-juan-blue); }
  .about__business-header {
    width: 70rem; }
    @media only screen and (max-width: 48.75em) {
      .about__business-header {
        width: 100%; } }
  .about__business-text {
    color: var(--color-secondary-light-san-juan-blue); }
  .about__banner-box {
    background: no-repeat url("../assets/shared/desktop/bg-pattern-circle.svg");
    background-size: 60% 65rem;
    background-position: left -95% bottom 0%;
    padding: 10rem 0; }
    @media only screen and (max-width: 48.75em) {
      .about__banner-box {
        padding: 5rem 0;
        background: var(--color-body-background); } }
  .about__banner {
    max-width: 100%;
    width: 144rem;
    height: auto;
    object-fit: cover;
    object-position: bottom; }
  .about__our-details {
    display: flex;
    padding: 0 12rem;
    gap: 5rem; }
    @media only screen and (max-width: 69em) {
      .about__our-details {
        padding: 0 5rem; } }
    @media only screen and (max-width: 37.5em) {
      .about__our-details {
        gap: 2rem;
        padding: 0 2rem;
        flex-direction: column;
        text-align: center; } }
  .about__our-detail {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    border-top: 1px solid var(--color-secondary-light-san-juan-blue);
    border-bottom: 1px solid var(--color-secondary-light-san-juan-blue);
    padding: 2rem 0 4rem 0; }
    @media only screen and (max-width: 37.5em) {
      .about__our-detail {
        gap: 1.8rem;
        padding: 2rem 0; } }
  .about__our-text {
    font-size: 1.6rem;
    color: var(--color-secondary-light-san-juan-blue); }
  .about__our-count {
    font-size: 5.6rem;
    color: var(--color-primary-dark-pink); }
  .about__culture-people {
    display: flex;
    flex-direction: column;
    gap: 5rem;
    padding: 0 30rem 0 12rem;
    margin: 5rem 0; }
    @media only screen and (max-width: 69em) {
      .about__culture-people {
        padding: 0 5rem; } }
    @media only screen and (max-width: 48.75em) {
      .about__culture-people {
        gap: 2.8rem; } }
    @media only screen and (max-width: 37.5em) {
      .about__culture-people {
        padding: 0 2rem; } }
    @media only screen and (max-width: 24.44em) {
      .about__culture-people {
        padding: 0 1.8rem; } }
  .about__culture {
    display: flex;
    padding: 0; }
    @media only screen and (max-width: 48.75em) {
      .about__culture {
        flex-direction: column;
        text-align: center;
        gap: 2rem; } }
    @media only screen and (max-width: 37.5em) {
      .about__culture {
        padding: 0 2rem; } }
    @media only screen and (max-width: 24.44em) {
      .about__culture {
        padding: 0 1.8rem; } }
  .about__people {
    display: flex;
    padding: 0; }
    @media only screen and (max-width: 48.75em) {
      .about__people {
        flex-direction: column;
        text-align: center;
        gap: 2rem; } }
  .about__culture-header {
    width: 85rem; }
    @media only screen and (max-width: 48.75em) {
      .about__culture-header {
        width: 100%; } }
  .about__culture-text {
    color: var(--color-secondary-light-san-juan-blue); }
  .about__people-header {
    width: 48rem; }
    @media only screen and (max-width: 48.75em) {
      .about__people-header {
        width: 100%; } }
  .about__people-text {
    color: var(--color-secondary-light-san-juan-blue); }

.empty-row:empty::after {
  content: ".";
  visibility: hidden; }

@media only screen and (max-width: 37.5em) {
  .remove-border-all {
    border: 0 !important; } }

@media only screen and (max-width: 37.5em) {
  .remove-border-top {
    border-top: 0 !important; } }

@media only screen and (max-width: 37.5em) {
  .remove-border-bottom {
    border-bottom: 0 !important; } }

.pricing {
  display: flex;
  flex-direction: column;
  gap: 8rem;
  padding: 5rem 12rem;
  margin-top: -15rem; }
  @media only screen and (max-width: 65.25em) {
    .pricing {
      align-items: center;
      padding: 0rem 5rem; } }
  @media only screen and (max-width: 48.75em) {
    .pricing {
      align-items: center;
      gap: 3rem; } }
  @media only screen and (max-width: 37.5em) {
    .pricing {
      padding: 0rem 2rem; } }
  @media only screen and (max-width: 24.44em) {
    .pricing {
      padding: 0rem 1.8rem; } }
  .pricing__options {
    display: flex;
    gap: 5rem; }
    @media only screen and (max-width: 69em) {
      .pricing__options {
        margin-bottom: 5rem; } }
    @media only screen and (max-width: 48.75em) {
      .pricing__options {
        gap: 0rem;
        flex-direction: column;
        align-items: center;
        justify-content: center; } }
  @media only screen and (max-width: 48.75em) {
    .pricing__options:last-child {
      margin-bottom: 4rem; } }
  @media only screen and (max-width: 37.5em) {
    .pricing__options:last-child {
      margin-bottom: 1rem; } }
  .pricing__option {
    display: flex;
    flex-direction: column;
    gap: 2rem; }
    @media only screen and (max-width: 48.75em) {
      .pricing__option {
        align-items: center; } }
    @media only screen and (max-width: 37.5em) {
      .pricing__option {
        padding: 2rem; } }
  .pricing__option-header {
    font-family: "DM Sans", sans-serif;
    font-size: 3.2rem;
    line-height: 3.2rem;
    font-weight: 600;
    color: var(--color-primary-dark-pink); }
    @media only screen and (max-width: 65.25em) {
      .pricing__option-header {
        text-align: center; } }
  .pricing__option-text {
    font-size: 1.5rem;
    line-height: 2.8rem;
    color: var(--color-secondary-light-san-juan-blue); }
    @media only screen and (max-width: 65.25em) {
      .pricing__option-text {
        text-align: center; } }
  .pricing__option-price {
    width: 100%;
    font-size: 5.6rem;
    line-height: 5.6rem;
    color: var(--color-secondary-san-juan-blue);
    font-weight: 600;
    border-bottom: 1px solid var(--color-secondary-light-san-juan-blue);
    padding-bottom: 3rem; }
    @media only screen and (max-width: 65.25em) {
      .pricing__option-price {
        text-align: center;
        font-size: 4.8rem;
        line-height: 5.6rem; } }
  .pricing__option-fasalities {
    width: 100%;
    border-bottom: 1px solid var(--color-secondary-light-san-juan-blue);
    padding-bottom: 3rem; }
  .pricing__option-fasalitie {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    font-size: 1.6rem;
    line-height: 2.8rem;
    color: var(--color-secondary-light-san-juan-blue);
    opacity: 0.7; }
    @media only screen and (max-width: 65.25em) {
      .pricing__option-fasalitie {
        align-items: center; } }

.fasalitie {
  padding-left: 3rem !important;
  width: 12rem; }

.active-fasalitie {
  color: var(--color-secondary-mirage-blue);
  font-weight: 600;
  display: flex;
  gap: 2rem;
  justify-content: flex-start;
  align-items: center;
  padding-left: 0 !important; }

form {
  display: flex; }

fieldset {
  border: none;
  margin-bottom: 0; }

input.signup {
  width: 30.5rem;
  font-size: 1.5rem;
  font-weight: 600;
  border: 1px solid #ffffff;
  font-family: inherit;
  border-radius: 3rem;
  padding: 1.4rem 5.2rem 1.4rem 1.8rem;
  cursor: text;
  color: var(--color-secondary-san-juan-blue);
  margin-right: -5rem;
  overflow: hidden;
  background-color: var(--color-primary-link-water-white);
  transition: all 0.3s ease-in-out; }
  @media only screen and (max-width: 65.25em) {
    input.signup {
      width: 35.5rem; } }
  @media only screen and (max-width: 37.5em) {
    input.signup {
      margin-right: 0rem; } }
  @media only screen and (max-width: 24.44em) {
    input.signup {
      width: 100%; } }

input.signup::placeholder {
  font-size: 1.4rem;
  font-weight: 600;
  color: var(--color-secondary-light-san-juan-blue);
  opacity: 0.5;
  letter-spacing: 1px;
  text-transform: capitalize;
  transition: all 0.5s ease-in, transform 0.2s ease-in 0.6s;
  /* Firefox */ }

input.signup::-ms-input-placeholder {
  /* Edge 12-18 */
  font-size: 1.4rem;
  font-weight: bold;
  color: var(--color-secondary-light-san-juan-blue);
  opacity: 0.5;
  letter-spacing: 1px;
  transition: all 0.5s ease-in, transform 0.2s ease-in 0.6s; }

input.signup:focus::placeholder {
  padding-left: 16.5rem;
  transform: rotate(90deg);
  transform: translateY(-5rem); }

input.signup:not(:placeholder-shown):not(:focus):required:invalid {
  border: none;
  border: 1px solid #ff0000; }

input.signup:required:invalid::placeholder {
  color: #ff0000;
  font-size: 1.6rem;
  font-weight: 600;
  opacity: 1; }

input.signup:required:invalid {
  border: none;
  border: 1px solid #ff0000; }

input.signup:not(:placeholder-shown):not(:focus):invalid::placeholder {
  color: #ff0000;
  font-size: 1.6rem;
  font-weight: 600; }

input.signup:not(:placeholder-shown):not(:focus):valid {
  background-color: var(--color-white) !important;
  border: 1px solid green; }

input.signup:focus {
  outline: 0;
  outline: 1px solid var(--color-primary-dark-pink); }

.footer {
  background: no-repeat url("../assets/shared/desktop/bg-pattern-circle.svg");
  background-position: right -30rem bottom -5rem;
  background-color: var(--color-secondary-mirage-blue);
  display: flex;
  justify-content: space-between;
  padding: 2rem 12rem; }
  @media only screen and (max-width: 75em) {
    .footer {
      padding: 2rem 5rem; } }
  @media only screen and (max-width: 65.25em) {
    .footer {
      background-position: right -40rem bottom -9rem;
      padding: 2rem; } }
  @media only screen and (max-width: 37.5em) {
    .footer {
      background-position: right -10rem bottom -65rem;
      padding: 3rem; } }
  @media only screen and (max-width: 24.44em) {
    .footer {
      background-position: right -20rem bottom -62rem; } }
  .footer__logo {
    max-width: 100%;
    width: 13.5rem;
    height: auto;
    object-fit: cover;
    object-position: bottom; }
  .footer__social-box {
    display: flex;
    gap: 1.8rem; }
  .footer__logo path {
    fill: var(--color-primary-link-water-white); }
  .footer__nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 3rem;
    width: 100%; }
    @media only screen and (max-width: 37.5em) {
      .footer__nav-bar {
        flex-direction: column; } }
  .footer__nav {
    display: flex;
    gap: 5rem;
    align-items: center;
    justify-content: space-between; }
    @media only screen and (max-width: 37.5em) {
      .footer__nav {
        flex-direction: column;
        gap: 2rem; } }
  .footer-nav {
    list-style: none;
    display: flex;
    gap: 4rem; }
    @media only screen and (max-width: 37.5em) {
      .footer-nav {
        flex-direction: column;
        gap: 2rem; } }
    .footer-nav__link:link, .footer-nav__link:visited {
      display: flex;
      width: 6rem;
      font-size: 1.5rem;
      font-weight: 600;
      letter-spacing: 1px;
      color: var(--color-secondary-light-san-juan-blue);
      text-decoration: none;
      text-transform: capitalize;
      transition: all 0.2s; }
    .footer-nav__link:hover {
      transform: translateY(-2px) scale(1.05);
      color: var(--color-white);
      font-weight: 600; }
  .footer__icon {
    max-width: 100%;
    width: 2rem;
    height: auto;
    object-fit: cover;
    object-position: bottom;
    cursor: pointer;
    transition: all 0.2s; }
  .footer__icon:hover {
    transform: translateY(-2px) scale(1.05); }
  .footer__active {
    color: var(--color-white) !important;
    font-weight: 600 !important; }

.cta {
  display: flex;
  justify-content: space-between;
  padding: 5rem 12rem 8rem 12rem; }
  @media only screen and (max-width: 75em) {
    .cta {
      padding: 5rem 5rem 8rem 5rem; } }
  @media only screen and (max-width: 65.25em) {
    .cta {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      gap: 2.8rem;
      padding: 0rem 5rem 8rem 5rem; } }
  @media only screen and (max-width: 24.44em) {
    .cta {
      gap: 2rem;
      padding: 0rem 2rem 5rem 2rem; } }
  @media only screen and (max-width: 37.5em) {
    .cta__signUP {
      padding: 0;
      display: flex;
      flex-direction: column;
      gap: 1.6rem; } }
  @media only screen and (max-width: 37.5em) {
    .cta__signup-start {
      padding: 0;
      display: flex;
      flex-direction: column;
      gap: 1.6rem; } }
  .cta__button-box {
    padding-top: 0rem; }

.options {
  display: flex;
  align-items: baseline;
  justify-content: baseline;
  gap: 5rem;
  padding: 5rem 12rem; }
  @media only screen and (max-width: 75em) {
    .options {
      padding: 2rem 5rem; } }
  @media only screen and (max-width: 65.25em) {
    .options {
      gap: 2rem;
      padding: 2rem 3rem; } }
  @media only screen and (max-width: 48.75em) {
    .options {
      flex-direction: column;
      gap: 2rem;
      margin-bottom: 5rem; } }
  @media only screen and (max-width: 37.5em) {
    .options {
      padding: 0rem 2rem; } }
  @media only screen and (max-width: 37.5em) {
    .options {
      padding: 0rem 1.8rem; } }
  .options__icon-box {
    width: 10.6rem;
    height: 10.6rem;
    border: 5px solid var(--color-primary-link-water-white);
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center; }
  .options__icon {
    width: 10.6rem;
    height: 10.6rem;
    cursor: pointer;
    overflow: hidden;
    transition: all 0.3s ease-in-out; }
  .options__icon:hover {
    transform: scale(1.4); }
  .options__option {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    cursor: pointer; }
  .options__option:hover .options__icon {
    transform: scale(1.4); }
  .options__text-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem; }
  .options__text {
    color: var(--color-secondary-light-san-juan-blue);
    text-align: center; }

.simple-ui-ux {
  background: no-repeat url("../assets/shared/desktop/bg-pattern-circle.svg");
  background-position: right -60% bottom 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10rem;
  padding: 15rem 12rem;
  margin-bottom: -10rem; }
  @media only screen and (max-width: 75em) {
    .simple-ui-ux {
      padding: 15rem 5rem; } }
  @media only screen and (max-width: 65.25em) {
    .simple-ui-ux {
      background: var(--color-body-background);
      flex-direction: column-reverse;
      gap: 0rem;
      padding: 0rem 5rem;
      margin: 2rem 0rem; } }
  @media only screen and (max-width: 48.75em) {
    .simple-ui-ux {
      margin: 0rem; } }
  @media only screen and (max-width: 37.5em) {
    .simple-ui-ux {
      padding: 0rem 2rem;
      margin: 2rem 0rem;
      gap: 2rem; } }
  @media only screen and (max-width: 24.44em) {
    .simple-ui-ux {
      padding: 0rem 1.8rem; } }
  .simple-ui-ux__text-box {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 2rem; }
    @media only screen and (max-width: 65.25em) {
      .simple-ui-ux__text-box {
        width: 100%;
        text-align: center; } }
  .simple-ui-ux__text {
    color: var(--color-secondary-light-san-juan-blue); }
  .simple-ui-ux__img-box {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center; }
    @media only screen and (max-width: 65.25em) {
      .simple-ui-ux__img-box {
        width: 100%;
        text-align: center; } }
  .simple-ui-ux__img {
    width: 62rem;
    height: auto;
    object-fit: cover;
    object-position: bottom; }
    @media only screen and (max-width: 65.25em) {
      .simple-ui-ux__img {
        max-width: 100%;
        margin-bottom: -2rem; } }

.easy-to-implement {
  display: flex;
  justify-content: space-between;
  margin-top: 5rem;
  margin-bottom: -20rem;
  padding: 0rem 10rem;
  gap: 5rem; }
  @media only screen and (max-width: 75em) {
    .easy-to-implement {
      padding: 0rem; } }
  @media only screen and (max-width: 65.25em) {
    .easy-to-implement {
      gap: 0rem;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-bottom: 0rem;
      margin-top: 0rem;
      text-align: center;
      padding: 0rem 5rem; } }
  @media only screen and (max-width: 37.5em) {
    .easy-to-implement {
      gap: 3rem;
      padding: 0rem 2rem; } }
  @media only screen and (max-width: 24.44em) {
    .easy-to-implement {
      gap: 0rem;
      padding: 0rem 1.8rem; } }
  .easy-to-implement__img-box {
    width: 100%;
    text-align: center; }
    @media only screen and (max-width: 65.25em) {
      .easy-to-implement__img-box {
        padding-left: 2rem; } }
  .easy-to-implement__img {
    width: 62rem;
    height: auto;
    object-fit: cover;
    object-position: bottom; }
    @media only screen and (max-width: 65.25em) {
      .easy-to-implement__img {
        max-width: 100%;
        margin-bottom: -2rem; } }
  .easy-to-implement__text {
    color: var(--color-secondary-light-san-juan-blue); }
  .easy-to-implement__text-box {
    padding-right: 5rem;
    display: flex;
    flex-direction: column;
    gap: 1.8rem;
    justify-content: center;
    margin-top: -5rem; }
    @media only screen and (max-width: 75em) {
      .easy-to-implement__text-box {
        padding-right: 5rem; } }
    @media only screen and (max-width: 37.5em) {
      .easy-to-implement__text-box {
        padding-right: 0rem; } }
    @media only screen and (max-width: 24.44em) {
      .easy-to-implement__text-box {
        padding-right: 0rem;
        margin-top: 0rem; } }

.who-we-work-with {
  background: no-repeat url("../assets/shared/desktop/bg-pattern-circle.svg");
  background-position: left -25rem bottom 4rem;
  background-color: var(--color-secondary-mirage-blue);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10rem;
  padding: 8rem 12rem; }
  @media only screen and (max-width: 75em) {
    .who-we-work-with {
      padding: 8rem 5rem;
      gap: 5rem; } }
  @media only screen and (max-width: 65.25em) {
    .who-we-work-with {
      flex-direction: column-reverse;
      background-position: right 7.5rem top -55rem;
      margin-top: 10rem; } }
  @media only screen and (max-width: 48.75em) {
    .who-we-work-with {
      background-position: right 0.5rem top -55rem; } }
  @media only screen and (max-width: 37.5em) {
    .who-we-work-with {
      background-position: right -8rem top -60rem;
      padding: 5rem 2rem; } }
  @media only screen and (max-width: 24.44em) {
    .who-we-work-with {
      background-position: right -20rem top -58rem;
      padding: 5rem 1.8rem; } }
  .who-we-work-with__text-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2.2rem;
    width: 35%; }
    @media only screen and (max-width: 65.25em) {
      .who-we-work-with__text-box {
        width: 100%;
        text-align: center;
        align-items: center; } }
  .who-we-work-with__text {
    color: var(--color-primary-link-water-white); }
  .who-we-work-with__logo-box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
    width: 50%;
    height: 12rem;
    overflow: hidden; }
    .who-we-work-with__logo-box:not(:last-child) {
      margin-bottom: 1rem; }
    @media only screen and (max-width: 65.25em) {
      .who-we-work-with__logo-box {
        width: 100%;
        text-align: center;
        align-items: center;
        height: auto; } }
    @media only screen and (max-width: 37.5em) {
      .who-we-work-with__logo-box {
        gap: 1.8rem;
        height: auto; }
        .who-we-work-with__logo-box:not(:last-child) {
          margin-bottom: 1rem; } }
    @media only screen and (max-width: 24.44em) {
      .who-we-work-with__logo-box {
        gap: 1.8rem;
        height: auto; }
        .who-we-work-with__logo-box:not(:last-child) {
          margin-bottom: 1.8rem; } }
  .who-we-work-with__logo {
    width: 15rem;
    height: 3.4rem;
    cursor: pointer;
    transition: all 0.3s ease-in-out; }
  .who-we-work-with__logo:hover {
    transform: scale(1.05); }
  .who-we-work-with__logo path {
    fill: var(--color-primary-link-water-white); }

.header {
  margin: 0 auto;
  height: auto;
  background: no-repeat url("./assets/shared/desktop/bg-pattern-circle.svg");
  background-position: right -15rem bottom 18rem; }
  @media only screen and (max-width: 65.25em) {
    .header {
      margin-bottom: 5rem;
      background-position: right -4rem top -50.4rem; } }
  @media only screen and (max-width: 48.75em) {
    .header {
      background-position: right -2rem top -50.4rem; } }
  @media only screen and (max-width: 37.5em) {
    .header {
      background-position: right -8rem top -50.4rem; } }
  @media only screen and (max-width: 24.44em) {
    .header {
      background-position: right -20rem top -50.4rem; } }
  .header .logo {
    height: 3.8rem;
    cursor: pointer;
    transition: all 0.2s ease-in-out; }
    .header .logo:hover {
      transform: translateY(-2px) scale(1.08); }
    @media only screen and (max-width: 24.44em) {
      .header .logo {
        max-width: 100%;
        width: 2.8rem;
        height: auto;
        object-fit: cover;
        object-position: bottom; } }
  .header .logo-link {
    text-decoration: none; }
  .header .nav-bar {
    padding: 1.2rem 12rem 1rem 12rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 3rem;
    width: 100%; }
    @media only screen and (max-width: 75em) {
      .header .nav-bar {
        padding: 1.2rem 5rem 1rem 5rem;
        gap: 2rem; } }
    @media only screen and (max-width: 48.75em) {
      .header .nav-bar {
        padding: 1.2rem 2rem 1rem 2rem; } }
    @media only screen and (max-width: 37.5em) {
      .header .nav-bar {
        padding: 1.2rem 1.8rem 1rem 1.8rem; } }
  .header .nav {
    display: flex;
    align-items: center;
    gap: 5rem; }
  .header-nav {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 3.8rem; }
    .header-nav__link:link, .header-nav__link:visited {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 6rem;
      font-size: 1.5rem;
      font-weight: bold;
      letter-spacing: 1px;
      color: var(--color-secondary-san-juan-blue);
      text-decoration: none;
      text-transform: capitalize;
      opacity: 0.6;
      transition: all 0.2s ease-in; }
      @media only screen and (max-width: 65.25em) {
        .header-nav__link:link, .header-nav__link:visited {
          width: 4rem; } }
    .header-nav__link:hover {
      color: var(--color-secondary-san-juan-blue);
      font-weight: bold;
      transform: scale(1.02);
      opacity: 1; }
  .header-hero {
    display: flex;
    align-items: center;
    gap: 15rem;
    padding: 0rem 12rem;
    margin-bottom: -5rem; }
    @media only screen and (max-width: 75em) {
      .header-hero {
        padding: 0rem 5rem; } }
    @media only screen and (max-width: 65.25em) {
      .header-hero {
        gap: 0rem;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center; } }
    @media only screen and (max-width: 24.44em) {
      .header-hero {
        padding: 0rem 2rem; } }
  .header .hero__text {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 50%; }
    @media only screen and (max-width: 65.25em) {
      .header .hero__text {
        width: 100%;
        align-items: center;
        justify-content: center;
        text-align: center;
        gap: 1rem; } }
  .header .hero-img-container {
    margin: auto;
    display: block;
    overflow: hidden;
    padding-left: 3.2rem; }
    @media only screen and (max-width: 65.25em) {
      .header .hero-img-container {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: -5rem; } }
  .header .hero-img {
    object-fit: cover;
    object-position: bottom;
    cursor: pointer;
    transition: all 0.3s ease-in-out; }
    @media only screen and (max-width: 75em) {
      .header .hero-img {
        max-width: 100%;
        height: auto; } }
  .header .hero-img:hover {
    transform: scale(1.02); }
  .header .hero-cta {
    margin-top: 2rem; }
  .header .cta-message {
    margin-top: -1.8rem;
    font-size: 1.4rem;
    padding-left: 1.8rem;
    color: var(--color-secondary-light-san-juan-blue) !important; }
    @media only screen and (max-width: 65.25em) {
      .header .cta-message {
        padding-left: 0;
        margin-top: 1rem; } }
  .header .contact-us {
    text-decoration: none;
    font-weight: bold;
    color: var(--color-secondary-san-juan-blue) !important; }

.active {
  color: var(--color-secondary-san-juan-blue) !important;
  font-weight: bold !important;
  opacity: 1 !important; }

.header-extend {
  margin-bottom: 0;
  padding-bottom: 15rem;
  background: no-repeat url("./assets/shared/desktop/bg-pattern-circle.svg");
  background-position: right -15rem bottom 0rem; }
  @media only screen and (max-width: 65.25em) {
    .header-extend {
      background-position: right -45rem top -55rem; } }
  @media only screen and (max-width: 37.5em) {
    .header-extend {
      background-position: right -55rem top -55rem; } }

.btn, .btn:link, .btn:visited {
  cursor: pointer;
  color: var(--color-white);
  text-decoration: none;
  border: none;
  font-size: 1.5rem;
  font-weight: 500;
  letter-spacing: 2px;
  display: inline-block;
  border-radius: 3rem;
  padding: 1rem 2rem;
  overflow: hidden;
  transition: all 0.3s; }

.btn-cta {
  background-color: var(--color-primary-dark-pink) !important; }

.btn-cta:hover {
  transform: scale(1.02);
  background-color: var(--color-secondary-charm-Pink) !important; }

.btn__about-us {
  position: relative;
  width: 12.8rem;
  text-align: center;
  border: 1px solid var(--color-primary-link-water-white) !important; }

.btn__about-us::before {
  content: "";
  position: absolute;
  left: -5rem;
  top: 0;
  width: 0;
  height: 100%;
  background-color: var(--color-primary-link-water-white) !important;
  transform: skewX(45deg);
  z-index: -1;
  transition: width 0.5s; }

.btn__about-us:hover {
  color: var(--color-secondary-mirage-blue) !important;
  font-weight: bold !important;
  transform: scale(1);
  box-shadow: 4px 5px 17px -4px var(--color-secondary-light-san-juan-blue); }

.btn__about-us:hover::before {
  width: 250%; }

.btn-ra {
  color: var(--color-secondary-san-juan-blue) !important;
  font-weight: 600 !important;
  border: 1px solid var(--color-secondary-san-juan-blue) !important; }

.btn-ra:hover {
  color: var(--color-primary-link-water-white) !important;
  background-color: var(--color-secondary-san-juan-blue) !important; }

@media only screen and (max-width: 37.5em) {
  .mobile-nav-bar {
    width: 30rem;
    height: auto !important;
    padding: 2rem !important;
    background-color: var(--color-secondary-mirage-blue) !important;
    display: flex;
    flex-direction: column;
    align-items: center !important;
    color: var(--color-primary-link-water-white);
    min-height: calc(100vh - 2 * 4vw);
    gap: 2rem;
    position: absolute;
    top: 0;
    right: 0; } }

@media only screen and (max-width: 24.44em) {
  .mobile-nav-bar {
    width: 25rem; } }

.close-icon-box {
  width: 100%;
  border-bottom: 1px solid var(--color-primary-link-water-white);
  text-align: right;
  position: relative; }

.close-icon-logo {
  width: 2rem;
  height: 2rem;
  cursor: pointer;
  margin: 1.8rem 0;
  border-radius: 50%;
  z-index: -1; }

.mobile-nav {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2rem; }
  .mobile-nav__link:link, .mobile-nav__link:visited {
    display: flex;
    font-size: 1.5rem;
    width: 6rem;
    letter-spacing: 1px;
    color: var(--color-primary-link-water-white);
    text-decoration: none;
    text-transform: capitalize;
    opacity: 0.7;
    transition: all 0.2s ease-in; }
  .mobile-nav__link:hover {
    color: var(--color-primary-link-water-white);
    font-weight: bold;
    transform: scale(1.1);
    opacity: 1; }

.hidden-mobile-menu {
  opacity: 0;
  display: none !important;
  width: 0;
  height: 0; }

.hidden-mobile-icon {
  opacity: 0;
  display: none !important;
  width: 0;
  height: 0; }
  @media only screen and (max-width: 37.5em) {
    .hidden-mobile-icon {
      opacity: 1;
      display: flex !important;
      align-items: center;
      justify-content: space-around;
      padding-right: 2rem; } }

@media only screen and (max-width: 37.5em) {
  .hidden-nav-bar {
    opacity: 0;
    display: none !important; } }

@media only screen and (max-width: 37.5em) {
  .hidden-nav-cta {
    opacity: 0;
    display: none !important;
    width: 0;
    height: 0; } }

.mobile-logo {
  cursor: pointer;
  padding-top: 0rem; }
