.footer {
  background: no-repeat url("/assets/shared/desktop/bg-pattern-circle.svg");
  background-position: right -30rem bottom -5rem;
  background-color: var(--color-secondary-mirage-blue);
  display: flex;
  justify-content: space-between;
  padding: 2rem 12rem;
  @media only screen and (max-width: $bp-largest) {
    padding: 2rem 5rem;
  }

  @media only screen and (max-width: $bp-medium) {
    background-position: right -40rem bottom -9rem;
    padding: 2rem;
  }

  @media only screen and (max-width: $bp-small) {
    background-position: right -10rem bottom -65rem;
    padding: 3rem;
  }

  @media only screen and (max-width: $bp-smallest) {
    background-position: right -20rem bottom -62rem;
  }

  &__logo {
    max-width: 100%;
    width: 13.5rem;
    height: auto;
    object-fit: cover;
    object-position: bottom;
  }
  &__social-box {
    display: flex;
    gap: 1.8rem;
  }
  &__logo path {
    fill: var(--color-primary-link-water-white);
  }
  &__nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 3rem;
    width: 100%;
    @media only screen and (max-width: $bp-small) {
      flex-direction: column;
    }
  }
  &__nav {
    display: flex;
    gap: 5rem;
    align-items: center;
    justify-content: space-between;
    @media only screen and (max-width: $bp-small) {
      flex-direction: column;
      gap: 2rem;
    }
  }
  &-nav {
    list-style: none;
    display: flex;
    gap: 4rem;
    @media only screen and (max-width: $bp-small) {
      flex-direction: column;
      gap: 2rem;
    }
    &__link:link,
    &__link:visited {
      display: flex;
      width: 6rem;
      font-size: 1.5rem;
      font-weight: 600;
      letter-spacing: 1px;
      color: var(--color-secondary-light-san-juan-blue);
      text-decoration: none;
      text-transform: capitalize;
      transition: all 0.2s;
    }
    &__link:hover {
      transform: translateY(-2px) scale(1.05);
      color: var(--color-white);
      font-weight: 600;
    }
  }
  &__icon {
    max-width: 100%;
    width: 2rem;
    height: auto;
    object-fit: cover;
    object-position: bottom;
    cursor: pointer;
    transition: all 0.2s;
  }
  &__icon:hover {
    transform: translateY(-2px) scale(1.05);
  }

  &__active {
    color: var(--color-white) !important;
    font-weight: 600 !important;
  }
}
