*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

html {
  scroll-behavior: smooth;

  box-sizing: border-box;
  //This defines what 1rem is
  font-size: 62.5%; // 1rem = 10px; 10px/16px = 62.5%
}
